// Mixins
mixin liquidity(order, price, amount_ppc, amount_nbt)
  tr
    td #{order}
    td #{price}
    td #{amount_ppc}
    td #{amount_nbt}

// Content

header
  p Test

section#content
  h1 Grant Operations Report

  h2 Overview

  h2 Sample Exchange (CCEDK)

  p Notes about the exchange.

  h3 Market Example (NBT/PPC)

  hr
  h4 Liquidity

  table#market_liquidity
    tr
    each val in ["Order", "Price", "Amount (PPC)", "Amount (NBT)"]
      th= val
    +liquidity("BUY", "1.33278485", "51959.477135", "38985.6450")
    +liquidity("SELL", "1.34820040", "107495.187241", "79732.3508")    

  hr
  h4 Recent Trades

  table#recent_trades
    - var trades = public.logs._data
    tr
    each val in ["Date", "Type", "Price", "Amount"]
      th= val
    each trade in trades
      tr
        td #{trade.date}
        td #{trade.type}
        td #{trade.price}
        td #{trade.amount}

section#sidebar
  p Sidebar Content
